<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Acceso Denegado | Trivia Triviaventura</title>
  <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link th:href="@{/css/base.css}" rel="stylesheet">
  <link th:href="@{/css/theme.css}" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-06GJ4W4ELZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-06GJ4W4ELZ');
    </script>
</head>

<body>
<div class="main-wrapper">
    <div class="content">
        <div class="error-container">
  <div class="card error-card text-center p-5">
    <div class="error-icon mb-4">🚫</div>
    <h1 class="mb-3">403 - Acceso Denegado</h1>
    <p class="lead mb-4">No tienes permiso para acceder a esta página.</p>
    <a th:href="@{/ranking}" class="btn btn-primary">Volver</a> <!--Dirigimos al ranking porque ya esta logeado-->
  </div>
        </div>
    </div>
</div>

<!-- Incluir el footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>